.login_outer{
    display: flex;
    flex-direction: column !important;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.lemail, .lpassword{
    margin: 15px !important;
}

.form-container{
    border: 2px solid grey !important;
    margin: 20px auto !important;
     display: flex;
     flex-direction: column !important;
     column-gap: 20px;
     align-items: center;
     justify-content: center;
     width: 40%;
}

.btn-login{
    width: 30% !important;
    margin: 0 auto !important;
}
.btn-login:hover{
    background-color: rgb(69, 167, 247) !important;
    color: white !important;
}