.remail, .rpassword, .fname, .lname, .cnf-rpassword{
    margin: 15px !important;
}

.form-container{
    border: 2px solid grey !important;
    margin: 20px auto !important;
    width: 40% !important;
    padding: 20px !important;
}

.btn-register{
    width: 50% !important;
    margin: 0 auto !important;
}

.btn-register:hover{
    background-color: rgb(69, 167, 247) !important;
    color: white !important;
}